<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="main-content">
        <div class="container">
            <!-- header -->
            <%- include('partials/header') %>
                <!-- header -->
                <!-- navabar -->
                <%- include('partials/navbar') %>
                    <!-- navabar -->
                    <div class="row mt-4">
                        <div class="col-md-8">
                            <!-- post-container -->
                            <div class="post-container">
                                <% if (locals.post) { %>
                                    <div class="post-content single-post">
                                        <h3>
                                            <%= post.title %>
                                        </h3>
                                        <div class="post-information">
                                            <span>
                                                <i class="fa fa-tags" aria-hidden="true"></i>
                                                <%= post.categorie %>
                                            </span>
                                            <span>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                <a href='author.php'>Admin</a>
                                            </span>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <%= post.formattedDate %>
                                            </span>
                                        </div>
                                        <% if (post.image.split('.')[1]==='mp4' ) { %>
                                            <video loop autoplay muted height="300px">
                                                <source src="http://localhost:8000/uploads/<%= post.image %>"
                                                    type="video/mp4">
                                            </video>
                                            <% } else { %>
                                                <img class="single-feature-image"
                                                    src="http://localhost:8000/uploads/<%= post.image %>" alt="" />
                                                <% } %>

                                                    <p class="description">
                                                        <%= post.description %>
                                                    </p>
                                    </div>
                                    <% } %>
                            </div>

                            <!-- /post-container -->

                        </div>
                        <div id="sidebar" class="col-md-4">
                            <!-- sidebar -->
                            <%- include('partials/sidebar') %>
                                <!-- sidebar -->
                        </div>
                    </div>
        </div>

    </div>
    <%- include('partials/footer') %>
        <script src="/js/script.js" async></script>
</body>

</html>